.card.my-4
  %h5.card-header コメント:
  .card-body
    %form
      .form-group
        %textarea.form-control{:rows => "3"}
      %button.btn.btn-primary{:type => "submit"} 送信
/ Single Comment
.media.mb-4
  %img.d-flex.mr-3.rounded-circle{:alt => "", :src => "http://placehold.it/50x50"}/
  .media-body
    %h5.mt-0 Commenter Name
    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
/ Comment with nested comments
.media.mb-4
  %img.d-flex.mr-3.rounded-circle{:alt => "", :src => "http://placehold.it/50x50"}/
  .media-body
    %h5.mt-0 Commenter Name
    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    .media.mt-4
      %img.d-flex.mr-3.rounded-circle{:alt => "", :src => "http://placehold.it/50x50"}/
      .media-body
        %h5.mt-0 Commenter Name
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    .media.mt-4
      %img.d-flex.mr-3.rounded-circle{:alt => "", :src => "http://placehold.it/50x50"}/
      .media-body
        %h5.mt-0 Commenter Name
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
