.nav-margin-box {
  height: 56px;
  width: 100vw;
}

.article {

  &__text {

  max-height: 15rem;
  max-width: 100%;
  overflow-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  }
}

.card-text {
  white-space: pre-wrap;
}
